/* Style général */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Style du titre */
h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 3rem;
    color: #333;
    margin: 20px;
}

/* Style des boutons de filtre */
.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
}

.filter button {
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    color: #fff;
    background-color: #333;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.filter button:hover {
    background-color: #555;
}

.filter button.active {
    background-color: darkcyan;
}

/* Style de la galerie d'images */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
    margin: 10px;
}

.gallery img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    transition: transform 0.3s ease-in-out;
}

.gallery img:hover {
    transform: scale(1.1); /* ou toute autre transformation souhaitée */
}

.gallery img.show {
    transform: scale(1.1); /* ou toute autre transformation souhaitée */
}

.gallery img.hide {
    transform: scale(0.0); /* ou toute autre transformation souhaitée */
}